{
  "useApiKey": "NO",
  "apiKey": "nothing",
  "port": 3001,
  "defaultLimit": 100,
  "databases": [
    {
      "name": "main",
      "client": "sqlite3",
      "connection": {
        "filename": "./db.sqlite"
      },
      "useNullAsDefault": true,
      "schemas": [
        {
          "name": "main",
          "tables": [
            {
              "name": "dish_ingredients",
              "primaryKey": "rec_id",
              "expose": "*"
            },
            {
              "name": "dishes",
              "primaryKey": "id",
              "expose": "*"
            },
            {
              "name": "guests",
              "primaryKey": "id",
              "expose": "*"
            },
            {
              "name": "ingredients",
              "primaryKey": "id",
              "expose": "*"
            }
          ]
        }
      ]
    }
  ]
}